apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service.yaml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service.yaml
  template:
    metadata:
      labels:
        app: transaction-service.yaml
    spec:
      containers:
        - name: transaction-service.yaml
          image: huzaifagill234/new-transaction-service.yaml:latest
          env:
            - name: SPRING_DATA_MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  key: SPRING_DATA_MONGODB_URI
                  name: transaction-service.yaml-config
            - name: SPRING_KAFKA_BOOTSTRAP-SERVERS
              valueFrom:
                configMapKeyRef:
                  key: SPRING_KAFKA_BOOTSTRAP-SERVERS
                  name: common-config
            - name: SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  key: SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL
                  name: transaction-service.yaml-config
            - name: LOKI_URL
              valueFrom:
                configMapKeyRef:
                  key: LOKI_URL
                  name: common-config
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  key: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
                  name: common-config
            - name: ACCOUNT_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  key: ACCOUNT_SERVICE_URL
                  name: common-config
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: transaction-service.yaml
spec:
  selector:
    app: transaction-service.yaml
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: transaction-service.yaml-config
data:
  SPRING_DATA_MONGODB_URI: "mongodb://root:password@mongodb-transaction.default.svc.cluster.local:27017/transactions?authSource=admin"
  SPRING_KAFKA_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL: "http://schema-registry.default.svc.cluster.local:8081"